name: Bump version, create new tag and release point
on:
  push:
    branches:
      - github-actions

jobs:
  bump_version:
    name: Bump version, create tag/release point
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: '0'

      # for manual bumping check https://github.com/anothrNick/github-tag-action#bumping
      # Manual Bumping: Any commit message that includes #major, #minor, #patch, or #none 
      # will trigger the respective version bump. 
      # If two or more are present, the highest-ranking one will take precedence. 
      # If #none is contained in the commit message, it will skip bumping regardless DEFAULT_BUMP.
      - name: Bump version and push tag/create release point
        id: bump_version
        uses: anothrNick/github-tag-action@1.36.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WITH_V: true
      - name: Repository dispatch tag created event
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          event-type: tag-created
          client-payload: '{"new_version": "${{ steps.bump_version.outputs.new_tag }}"}'